<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>小明后台管理系统</title>
  <link rel="stylesheet" href="/assets/layui/css/layui.css">
</head>

<body>
  <div class="layui-layout layui-layout-admin">

    <!-- 分离头部导航栏 -->
    {{include "./common/header.html" }}
    <!-- 分离侧边导航栏 -->
    {{include "./common/side.html" }}

    <div class="layui-body">
      <!-- 内容主体区域 -->
      <div style="padding: 15px;">
        <button type="button" class="layui-btn layui-btn-normal" id="addcate" title="添加分类">
          <i class="layui-icon">&#xe654;</i>
        </button>
        <table class="layui-hide" id="cate" lay-filter="cate"></table>
      </div>
    </div>

    <div class="layui-footer">
      <!-- 底部固定区域 -->
      底部固定区域
    </div>
  </div>

  <script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
  </script>

  <script src="/assets/js/System_style.js"></script>
  <script>
    layui.use(['table', 'util'], function () {
      var table = layui.table, util = layui.util, $ = layui.jquery;

      //执行渲染
      table.render({
        elem: '#cate',
        height: 315,
        url: '/cateData',
        toolbar: '#toolbarDemo',
        cols: [[
          { field: 'cate_id', width: 350, title: 'ID', sort: true, align: 'center' },
          { field: 'cate_name', width: 350, title: '分类名称', align: 'center', edit: "cate" },
          { field: 'orderBy', width: 350, title: '排序字段', sort: true, align: 'center', edit: "cate" },
          { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 250, align: 'center' }
        ]]
      })

      $("#addcate").click(function () {
        layer.open({
          title: ['添加分类', 'font-size:20px'],
          area: ['450px', '250px'],
          content: `
                  <div class="layui-form-item">
                    <label class="layui-form-label">分类名称</label>
                    <div class="layui-input-block">
                       <input type="text" name="cate_name" placeholder="请输入分类名称" autocomplete="off" class="layui-input">
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <label class="layui-form-label">排序字段</label>
                    <div class="layui-input-block">
                       <input type="text" name="orderBy" placeholder="请输入排序字段" autocomplete="off" class="layui-input">
                    </div>
                  </div>
          `,
          btn: ['确认提交', '取消'], btn1: async function (index, layero) {
            let cate_name = $("input[name=cate_name]").eq(0).val()
            let orderBy = $("input[name=orderBy]").eq(0).val()
            let { err, msg } = await $.ajax({
              type: 'post',
              url: '/addCateData',
              data: {
                'cate_name': cate_name,
                'orderBy': orderBy
              }
            })
            err == '20003' ? layer.msg(msg, { icon: 2 }) : (layer.msg(msg, { icon: 1 }, layer.close(index), table.reload('cate')))

          }, btn2: function (index, layero) {
            layer.close(index)
          }
        })
      })

      table.on('edit(cate)', async function (obj) {
        let data = obj.data
        let { err, msg } = await $.post('/updCateData', data)
        err == '20001' ? layer.msg(msg) : layer.msg(msg);
      });

      table.on('tool(cate)', function (obj) {
        let data = obj.data
        if (obj.event === 'del') {
          layer.confirm('真的删除行么', async function (index) {
            obj.del();
            layer.close(index);
            let { err, msg } = await $.get(`/removeCateData?id=${data.cate_id}`)
            if (err == '20002') {
              layer.msg(msg)
            } else {
              layer.msg(msg)
              table.reload('cate')
            }
          });
        }
      });

    });
  </script>
</body>

</html>