<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./layui/css/layui.css">
</head>

<body>
  <h1 style="text-align:center">欢迎来到小明后台汽车编辑管理系统</h1>
  <form class="layui-form" id="myform" lay-filter="editform">
    <div class="layui-form-item">
      <label class="layui-form-label">汽车名称：</label>
      <div class="layui-input-inline">
        <input type="text" name="name" lay-verify="required" autocomplete="off" lay-reqtext="请输入汽车名称。"
          placeholder="请输入汽车名称" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">汽车颜色：</label>
      <div class="layui-input-inline">
        <input type="text" name="color" lay-verify="required" autocomplete="off" lay-reqtext="请输入汽车颜色。"
          placeholder="请输入汽车颜色" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">上下架：</label>
      <div class="layui-input-block">
        <input type="checkbox" checked="" name="is_sale" id="checked" lay-skin="switch" lay-filter="switchTest"
          lay-text="上架|下架">
      </div>
    </div>
    <div class="layui-form-item layui-form-text">
      <label class="layui-form-label">汽车介绍：</label>
      <div class="layui-input-block">
        <textarea name="intro" lay-verify="required" lay-reqtext="请输入汽车介绍。" placeholder="请输入汽车介绍"
          class="layui-textarea"></textarea>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">上传汽车图：</label>
      <div class="layui-input-inline">
        <input type="file" name="file" autocomplete="off" class="layui-input" onchange="upload(this)">
      </div>
      <div>
        <img src="" id="preview" style="width: 200px;">
      </div>
    </div>
    <div class="layui-form-item">
      <div class="layui-input-block">
        <button type="submit" class="layui-btn" lay-submit="" lay-filter="formEdit">立即提交</button>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
      </div>
    </div>
  </form>
</body>
<script src="./layui/layui.js"></script>
<script>
  let picFile;
  function upload(ele) {
    picFile = ele.files[0];
    let filereader = new FileReader();
    filereader.readAsDataURL(picFile);
    filereader.onload = function () {
      document.getElementById('preview').src = this.result;
    }
  }

  layui.use(['form', 'laydate'], async function () {
    var form = layui.form, layer = layui.layer, $ = layui.jquery, laydate = layui.laydate;
    let reg = /\?id=(\d+)/i;
    let [, id] = location.search.match(reg);

    let res = await $.get(`http://127.0.0.1:3200/getcar?id=${id}`)
    let { name, color, intro, is_sale, pic } = res[0]
    // 表单回显数据
    $("#preview").attr('src', pic)
    form.val('editform', {
      name,
      color,
      intro,
      // 复选框赋值 !!转化为布尔值
      is_sale: is_sale === 1 ? true : false
    })

    let myForm = $('#myform')[0];
    //监听提交
    form.on('submit(formEdit)', function (data) {
      let formData = new FormData(myForm);
      formData.set('is_sale', data.field.is_sale ? '1' : '0')
      // 有上传图片则删除原图  反之保留原图
      formData.set('isPicReplace', picFile ? 1 : 0)
      $.ajax({
        type: "post",
        url: `http://127.0.0.1:3200/editcar?id=${id}`,
        data: formData,
        processData: false,
        contentType: false,
        success: function (data) {
          data.err = 20000 ? layer.msg('编辑程功', { icon: 1 }) : layer.msg('编辑失败', { icon: 2 })
          setTimeout(() => {
            location.href = '/cars.html'
          }, 1000)
        }
      })

      return false; // 这句话阻止默认行为 会包装成一个Promise.resove(false)进行返回
    });
  });
</script>

</html>