<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>小明后台管理系统</title>
  <link rel="stylesheet" href="/assets/layui/css/layui.css">
</head>

<body>
  <div class="layui-layout layui-layout-admin">

    <!-- 分离头部导航栏 -->
    {{include "./common/header.html" }}
    <!-- 分离侧边导航栏 -->
    {{include "./common/side.html" }}

    <div class="layui-body">
      <!-- 内容主体区域 -->
      <div style="padding: 15px;">
        <button type="button" class="layui-btn layui-btn-normal" id="addSettings" title="添加样式">
          <i class="layui-icon">&#xe654;</i>
        </button>
        <table class="layui-hide" id="settings" lay-filter="settings"></table>
      </div>
    </div>

    <div class="layui-footer">
      <!-- 底部固定区域 -->
      底部固定区域
    </div>
  </div>

  <script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
  </script>
  <script src="/assets/layui/layui.js"></script>
  <script src="/assets/js/System_style.js"></script>
  <script>
    layui.use(['table', 'util'], function () {
      var table = layui.table, util = layui.util, $ = layui.jquery;

      //执行渲染
      table.render({
        elem: '#settings',
        height: 315,
        url: '/systemData',
        toolbar: '#toolbarDemo',
        cols: [[
          { field: 'Settings_id', width: 350, title: 'ID', sort: true, align: 'center' },
          { field: 'name', width: 350, title: '修改区域', align: 'center', edit: "settings" },
          { field: 'val', width: 350, title: '修改样式', sort: true, align: 'center', edit: "settings" },
          { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 250, align: 'center' }
        ]]
      })

      $("#addSettings").click(function () {
        layer.open({
          title: ['添加样式', 'font-size:20px'],
          area: ['450px', '250px'],
          content: `
                  <div class="layui-form-item">
                    <label class="layui-form-label">修改区域</label>
                    <div class="layui-input-block">
                       <input type="text" name="areaInfo" placeholder="请输入修改区域" autocomplete="off" class="layui-input">
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <label class="layui-form-label">修改样式</label>
                    <div class="layui-input-block">
                       <input type="text" name="styleInfo" placeholder="请输入修改样式" autocomplete="off" class="layui-input">
                    </div>
                  </div>
          `,
          btn: ['确认提交', '取消'], btn1: async function (index, layero) {
            let areaEle = $("input[name=areaInfo]").eq(0).val()
            let styleEle = $("input[name=styleInfo]").eq(0).val()
            let { err, msg } = await $.ajax({
              type: 'post',
              url: '/addsystemData',
              data: {
                'areaInfo': areaEle,
                'styleInfo': styleEle
              }
            })
            err == '20003' ? layer.msg(msg, { icon: 2 }) : (layer.msg(msg, { icon: 1 }, layer.close(index), location.reload()))

          }, btn2: function (index, layero) {
            layer.close(index)
          }
        })
      })

      table.on('edit(settings)', async function (obj) {
        let data = obj.data
        let { err, msg } = await $.post('/updsystemData', data)
        err == '20004' ? layer.msg(msg) : (layer.msg(msg), location.reload());
      });

      table.on('tool(settings)', function (obj) {
        let data = obj.data
        if (obj.event === 'del') {
          layer.confirm('真的删除行么', async function (index) {
            obj.del();
            layer.close(index);
            let { err, msg } = await $.get(`/rmsystemData?id=${data.Settings_id}`)
            err == '20005' ? layer.msg(msg) : (layer.msg(msg), location.reload())
          });
        }
      });

    });
  </script>
</body>

</html>